.idea
*.retry
wingpanel-ayatana.yml~
playbooks/keepassxc/keepassxc.ini
playbooks/wallpapers/ls.desktop.*
playbooks/zsh_files/zshrc.*
playbooks/conf-files/.git-credentials
playbooks/conf-files/.gitconfig
playbooks/conf-files/.ssh/*
playbooks/conf-files/.gnupg/*

