[Desktop Entry]
Type=Application
Exec=yakuake
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=yakuake
Name=yakuake
Comment[en_GB]=
Comment=
