[Desktop Entry]
Type=Application
Exec=/home/yourusername/bin/lock.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Lock Wallpaper
Name=Lock Wallpaper
Comment[en_GB]=
Comment=
